*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	font-family: Matura MT Script Capitals;

}
.navbar{
	width: 100%;
	position: fixed;
	background-color: dodgerblue;
	padding: 15px 0px;

}
.navbar .max-width{

	width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-content: auto;
}
.logo a {
	color: #fff;
	font-size: 40px;
	font-weight: 500;
}
.logo span{
	color: #000;
}
.menu li{
	display: inline-block;
}
.menu{
	padding-top: 10px;
}
.menu li a{
	color: white;
	font-size: 20px;
	font-weight: 200;
	margin-left: 25px;
	transition: color 1s;
}

.menu li a:hover{
	color: black;
	}
.pr{
	font-size: 50px;
	color: dodgerblue;
}

.pr1{
	font-size: 50px;
	color: dodgerblue;
}
.pr2{
	background-image: url(sejour2.jpg);
}
.pr4{
	background-image: url(sejour3.jpg);
}
.pr6{
	background-image: url(sejour4.jpg);
}
.pr3{
	font-family: arial;
	font-weight: bold;
	font-size: 17px;

}
.pr3 span{
	font-family: arial;
	font-weight: normal;
	font-size: 15px;
}
.pr5{
	font-family: arial;
	font-weight: bold;
	font-size: 17px;

}
.pr5 span{
	font-family: arial;
	font-weight: normal;
	font-size: 15px;
}
.pr7{
	font-family: arial;
	font-weight: bold;
	font-size: 17px;

}
.pr7 span{
	font-family: arial;
	font-weight: normal;
	font-size: 15px;
}
 i{
	color: dodgerblue;
	font-size: 50px;
}
